.header
  .top
    .user-area
      = current_user.name #ログイン時のユーザー名の表記の為
      .icons
        = link_to new_group_path do
          %li.far.fa-edit.fa-1x
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: 'icon')
  .bottoms
    - current_user.groups.each do |group| #users.groupテーブルから取り出している
      .bottom
        = link_to group_messages_path(group) do 
          %p.bottom-group
            = group.name
          %p.bottom-message
            = group.show_last_message 

